/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .desktop-view {
        display: none;
    }

    .skeleton-image {
        width: 6rem;
        height: 6rem;
    }

    .text-skeleton {
        height: 3vh;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .mobile-view {
        display: none;
    }

    .desktop-view {
        max-width: 305px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }

    .product-card {
        width: 100%;
        max-width: 305px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .skeleton-image {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 5px;
    }

    .text-skeleton {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
        padding: 0.5rem;
        align-items: center;
        justify-items: start;
        background-color: #f5f5f5;
    }
}