<div class="mobile-view">
  <ion-fab
    vertical="top"
    class="button-container"
    horizontal="center"
    slot="fixed"
  >
    <button
      class="top-button"
      routerLink="/index"
      *ngIf="isShowingIndexButton()"
    >
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </button>

    <button class="top-button" routerLink="/map" *ngIf="isShowingMapButton()">
      <ion-icon slot="icon-only" name="map-outline"></ion-icon>
    </button>

    <button
      class="top-button"
      routerLink="/cards-list"
      *ngIf="isShowingCardsListButton()"
    >
      <ion-icon slot="icon-only" name="list-outline"></ion-icon>
    </button>

    <button
      class="top-button"
      routerLink="/filter"
      *ngIf="isShowingFilterButton()"
    >
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </button>

    <button
      class="top-button"
      routerLink="/create-place"
      *ngIf="isShowingCreatePlaceButton() && userCanCreate"
    >
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </button>

    <button
      class="top-button"
      routerLink="/request-place"
      *ngIf="isShowingUpdateStatusPlaceButton() && updateStatusPlace"
    >
      <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
      <ion-badge class="badge" *ngIf="badgeButton" color="danger">{{
        totalData.length
      }}</ion-badge>
    </button>

    <button *ngIf="!isLoggedIn" class="top-button" routerLink="/my-account">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </button>

    <button
      *ngIf="isLoggedIn"
      class="my-account top-button"
      (click)="toggleDropdown()"
    >
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </button>

    <div *ngIf="isDropdownVisible" #dropdownMenu class="dropdown-menu">
      <button class="my-account-dropdown" routerLink="/my-account">
        Mis datos
      </button>
      <button class="favorite-list-dropdown" routerLink="/favorite-list">
        Favoritos
      </button>
    </div>
  </ion-fab>
</div>

<div class="desktop-view">
  <ion-fab
    class="button-container"
    vertical="top"
    horizontal="center"
    slot="fixed"
  >
    <button
      class="top-button"
      routerLink="/index"
      *ngIf="isShowingIndexButton()"
    >
      <ion-icon class="icon" slot="start" name="home-outline"></ion-icon>
      <span class="button-text">Inicio</span>
    </button>

    <button class="top-button" routerLink="/map" *ngIf="isShowingMapButton()">
      <ion-icon class="icon" slot="start" name="map-outline"></ion-icon>
      <span class="button-text">Mapa</span>
    </button>

    <button
      class="top-button"
      routerLink="/cards-list"
      *ngIf="isShowingCardsListButton()"
    >
      <ion-icon class="icon" slot="start" name="list-outline"></ion-icon>
      <span class="button-text">Lista lugares</span>
    </button>

    <button
      class="top-button"
      routerLink="/filter"
      *ngIf="isShowingFilterButton()"
    >
      <ion-icon class="icon" slot="start" name="options-outline"></ion-icon>
      <span class="button-text">Filtros</span>
    </button>

    <button
      class="top-button"
      routerLink="/create-place"
      *ngIf="isShowingCreatePlaceButton() && userCanCreate"
    >
      <ion-icon class="icon" slot="start" name="add-circle-outline"></ion-icon>
      <span class="button-text">Crear lugar</span>
    </button>

    <button
      class="top-button"
      routerLink="/request-place"
      *ngIf="isShowingUpdateStatusPlaceButton() && updateStatusPlace"
    >
      <ion-icon class="icon" slot="start" name="folder-outline"></ion-icon>
      <span class="button-text">Peticiones</span>
      <ion-badge class="badge" *ngIf="badgeButton" color="danger">{{
        totalData.length
      }}</ion-badge>
    </button>

    <button *ngIf="!isLoggedIn" class="top-button" routerLink="/my-account">
      <ion-icon class="icon" slot="start" name="person-outline"></ion-icon>
      <span class="button-text">Mi cuenta</span>
    </button>

    <button
      *ngIf="isLoggedIn"
      class="my-account top-button"
      (click)="toggleDropdown()"
    >
      <ion-icon class="icon" slot="start" name="person-outline"></ion-icon>
      <span class="button-text">Mi cuenta</span>
    </button>
    <div *ngIf="isDropdownVisible" #dropdownMenu class="dropdown-menu">
      <button class="my-account-dropdown" routerLink="/my-account">
        Mis datos
      </button>
      <button class="favorite-list-dropdown" routerLink="/favorite-list">
        Favoritos
      </button>
    </div>
  </ion-fab>
</div>
