files:
  "/etc/nginx/conf.d/01_my_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        location / {
          root /var/app/current/www; # Ruta al directorio donde están los archivos de tu aplicación
          try_files $uri $uri/ /index.html;
        }
      }