<ion-header>
  <div class="row">
    <div class="col-2">
      <ion-icon
        class="icon"
        name="arrow-back-outline"
        onclick="window.history.back()"
      ></ion-icon>
    </div>
    <div class="col-10">
      <span class="text">Lista de favoritos</span>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favorite-list</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
