<ion-card *ngIf="!hasPermissions" class="alert alert-light">
  <h1 class="text-center">No tienes permisos para acceder a esta página.</h1>
  <button routerLink="/index">Clica aquí para ir a inicio</button>
  <div class="dog-image">
    <ion-img src="../../../assets/sadDog.jpg" alt="Sad dog image"></ion-img>
  </div>
</ion-card>

<ion-header *ngIf="hasPermissions">
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content *ngIf="hasPermissions">
  <div class="pdf-button" *ngIf="totalData.length > 0">
    <button class="button" (click)="generatePDF()">Generar PDF</button>
  </div>

  <div #content class="place-card-wrapper container mx-auto">
    <ng-container *ngFor="let item of totalData">
      <app-place-card
        [placeId]="item.id"
        [showCard]="true"
        [canBeClosed]="false"
        class="place-card container mx-auto"
      ></app-place-card>
    </ng-container>
  </div>

  <div *ngIf="!showNoMatches && totalData.length === 0">
    <ion-card class="alert alert-light">
      <div class="cat-image">
        <ion-img
          src="../../../assets/favoritelistempty.png"
          alt="Cat image saying favorite list empty"
        ></ion-img>
      </div>
    </ion-card>
  </div>

  <div class="place-card-wrapper container mx-auto" *ngIf="showNoMatches">
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
    <app-place-card-skeletor
      class="place-card container mx-auto"
    ></app-place-card-skeletor>
  </div>
</ion-content>
