<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="spacer"></div>

  <div *ngFor="let item of totalData | filter:filterData">
    <app-place-card
      [placeId]="item.id"
      [showCard]="true"
      [canBeClosed]="false"
    ></app-place-card>
  </div>
  <div *ngIf="!showNoMatches && (totalData | filter:filterData).length === 0">
    <ion-card class="alert alert-light">
      <h1 class="text-center">No hay coincidencias</h1>
      <div class="dog-image">
        <ion-img src="../../../assets/sadDog.jpg" alt="Sad dog image"></ion-img>
      </div>
    </ion-card>
  </div>

  <div *ngIf="showNoMatches">
    <app-place-card-skeletor></app-place-card-skeletor>
    <br />
    <app-place-card-skeletor></app-place-card-skeletor>
    <br />
    <app-place-card-skeletor></app-place-card-skeletor>
    <br />
    <app-place-card-skeletor></app-place-card-skeletor>
  </div>
</ion-content>

<ion-footer>
  <div class="box">
    <ion-icon name="paw"></ion-icon><ion-icon name="paw"></ion-icon
    ><ion-icon name="paw"></ion-icon>
  </div>
</ion-footer>
