.header {
    padding: 1.75rem 0rem;
}

#map {
    height: 100%;
    width: 100vw;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    ion-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    ion-footer {
        position: fixed;
        bottom: 0;
        width: 365px;
    }
}