// Header
.header {
    padding: 1.75rem 0rem;
}

// Content
ion-card-content {
    height: 100vh;
}

.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    background: url("../../../assets/huella.jpg") repeat center center fixed;
    opacity: 0.1;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// Email and Password
.email {
    margin-top: 4.5rem;
    opacity: 0.8;
}

.password {
    margin-top: 1.5rem;
    opacity: 0.8;
}

.password {
    position: relative;

    .show-password {
        -webkit-text-security: disc;
    }
}

// Buttons
ion-button.init-session {
    --background: #ae7e52;
    color: white;
    margin-top: 2rem;
}

.register-link {
    display: block;
    text-align: center;
    padding: 10px;
    color: #76410f;
}