<ion-header>
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card-content class="container">
        <div class="email">
          <ion-item>
            <ion-input
              label="Nombre de usuario"
              labelPlacement="floating"
              formControlName="userName"
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="form.get('userName')?.touched && form.get('userName')?.hasError('required')"
          >
            Nombre de usuario obligatorio
          </ion-label>
        </div>

        <div class="password">
          <ion-item class="mt-2">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="text"
              formControlName="password"
              [class.show-password]="!showPassword"
            ></ion-input>
            <ion-icon
              class="mt-3"
              name="{{ showPassword ? 'eye' : 'eye-off' }}"
              slot="end"
              (click)="togglePasswordVisibility()"
            ></ion-icon>
          </ion-item>
          <ion-label
            *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
          >
            Contraseña obligatoria
          </ion-label>
        </div>

        <ion-button
          class="init-session"
          size="block"
          [disabled]="!form.valid"
          (click)="authUser(form.value.userName, form.value.password)"
          >Iniciar Sesión</ion-button
        >
        <a class="register-link" (click)="register()">Registrarse</a>
      </ion-card-content>
    </form>
  </div>
</ion-content>
