<ion-header>
  <div class="row">
    <div class="col-2">
      <ion-icon
        class="icon"
        name="arrow-back-outline"
        onclick="window.history.back()"
      ></ion-icon>
    </div>
    <div class="col-10">
      <span class="text">Datos de usuario</span>
    </div>
  </div>
</ion-header>

<ion-content *ngIf="isLoggedIn">
  <ion-card class="container" *ngIf="!updateData">
    <ion-button (click)="updateUserData()"
      ><ion-icon name="create-outline"></ion-icon
    ></ion-button>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="happy-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <span>{{ username }}</span>
      </div>
    </div>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="text-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <span>{{ name }}</span>
      </div>
    </div>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <span>{{ email }}</span>
      </div>
    </div>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <span>*************</span>
      </div>
    </div>
    <div class="row">
      <ion-button  (click)="handleClickDeleteUser()">Eliminar cuenta</ion-button>
    </div>
  </ion-card>
  
  <ion-card class="container" *ngIf="updateData">
    <h1 class="text-center">Actualiza los datos que quieres cambiar</h1>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="text-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <ion-input [(ngModel)]=" name" value="{{name}}"></ion-input>
      </div>
    </div>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <ion-input
          type="text"
          [(ngModel)]=" email"
          value="{{email}}"
        ></ion-input>
      </div>
    </div>
    <div class="row">
      <div class="icons col-1">
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <div class="text col-10">
        <ion-input
          type="password"
          [(ngModel)]=" password"
          value="{{password}}"
          (click)="clearData()"
        ></ion-input>
      </div>
    </div>
    <div class="row">
      <ion-button (click)="handleClickUpdateUserData()"
        >Actualizar cuenta</ion-button
      >
      <ion-button (click)="updateUserData()">Cancelar</ion-button>
    </div>
  </ion-card>
</ion-content>
