<ion-header>
  <div class="row">
    <div class="col-2">
      <ion-icon
        class="icon"
        name="arrow-back-outline"
        onclick="window.history.back()"
      ></ion-icon>
    </div>
    <div class="col-10">
      <span class="text">Perfil</span>
    </div>
  </div>
</ion-header>

<ion-content *ngIf="isLoggedIn">
  <ion-button class="top-button" routerLink="/favorite-list">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>
  <ion-button class="top-button" routerLink="/my-data">
    <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
  </ion-button>
  <ion-button class="close" size="block" (click)="logout()"
      >Cerrar sesión</ion-button
    >
</ion-content>





