<ion-header>
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content *ngIf="isLoggedIn">
  <ion-button class="top-button" routerLink="/favorite-list">
    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>
  <ion-button class="top-button" routerLink="/my-data">
    <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
  </ion-button>
  <ion-button class="close" size="block" (click)="logout()"
      >Cerrar sesión</ion-button
    >
</ion-content>





