<ion-header>
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content *ngIf="data && !showSkeleton && !showNoData">
  <ion-card class="container mx-auto alert alert-light" *ngIf="data">
    <div class="buttons" *ngIf="showUpdateStatusButton">
      <ion-button class="accept" (click)="accept()">Aceptar</ion-button>
      <ion-button class="decline" (click)="decline()">Declinar</ion-button>
    </div>
    <div class="card-image">
      <ion-img
        *ngIf="getImage()"
        [src]="getImage()"
        [alt]="'Image from ' + data.name"
      ></ion-img>
      <ion-img
        *ngIf="!getImage()"
        src="../../../assets/imagenotfound.jpg"
        [attr.alt]="'Image from ' + data.name"
      ></ion-img>
    </div>
    <ion-card-header>
      <div class="row">
        <div class="col-11">
          <div class="title">{{ data.name }}</div>
        </div>
        <div class="col-1 heart-icon" *ngIf="isLoggedIn">
          <ion-icon
            name="heart-outline"
            color="danger"
            *ngIf="!data.favorite"
            (click)="handleClickFavoritePlace()"
          ></ion-icon>
          <ion-icon
            name="heart"
            color="danger"
            *ngIf="data.favorite"
            (click)="handleClickFavoritePlace()"
          ></ion-icon>
        </div>
      </div>
      <div class="type">{{ data.type | translateType }}</div>
      <div class="number" *ngIf="data.averageRating">
        {{ data.averageRating | starRating }}
        <span class="number-weight">({{data.averageRating }})</span>
      </div>
    </ion-card-header>

    <ion-card-content class="ion-card-content">
      <div class="address mb-3">
        <ion-icon name="pin-outline"></ion-icon>
        <span> {{ data.address }}, {{ data.zip }}, {{ data.town }}</span>
      </div>
      <div class="website mb-3" *ngIf="data.website">
        <ion-icon name="globe-outline"></ion-icon>
        <span
          ><a class="link" [href]="data.website" target="_blank">
            {{ data.website }}</a
          ></span
        >
      </div>
      <div class="phone mb-3" *ngIf="data.phone">
        <ion-icon name="call-outline"></ion-icon>
        <a class="link" [href]="sanitizeTelLink(data.phone)">
          <span> {{ data.phone }}</span>
        </a>
      </div>
      <div class="description mb-3" *ngIf="data.description">
        <ion-icon name="reorder-four-outline"></ion-icon>
        <span> {{ data.description }}</span>
      </div>
      <div class="tag-container" *ngIf="data.tags">
        <span class="tag-title">Etiquetas</span>
        <div class="tags-wrapper">
          <div *ngFor="let tag of data.tags">
            <div class="tag">
              <ion-chip class="tag-size">{{ tag | translateTag }}</ion-chip>
            </div>
          </div>
        </div>
      </div>
      <div class="restriction-container" *ngIf="data.restrictions">
        <span class="restriction-title">Restricciones</span>
        <div class="restrictions-wrapper">
          <div *ngFor="let restriction of data.restrictions">
            <div class="restriction">
              <ion-chip class="restriction-size"
                >{{ restriction | translateRestrictions }}</ion-chip
              >
            </div>
          </div>
        </div>
      </div>
      <hr class="divider" />

      <div class="commit-button-container mt-3 mb-0">
        <ion-button
          *ngIf="!showButtonCreateCommit"
          class="commit-button"
          (click)="openCloseCreateValuation()"
        >
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>

        <ion-modal [isOpen]="showCreateCommit">
          <ng-template>
            <ion-header>
              <div class="commit-header">
                <span class="commit-title">Valoración de {{ data.name }}</span>
              </div>
            </ion-header>
            <ion-content>
              <div class="flex-center">
                <form [formGroup]="form">
                  <ion-card-content class="container mx-auto">
                    <div class="commentRating">
                      <ion-label class="averageRating-text">
                        Puntuación:
                      </ion-label>
                      <div class="valoration">
                        <fieldset
                          class="valoration-fieldset"
                          formControlName="averageRating"
                        >
                          <span class="star-cb-group">
                            <input
                              type="radio"
                              id="rating-5"
                              name="rating"
                              formControlName="averageRating"
                              [value]="5"
                              (ionChange)="handleRadioChange($event)"
                            /><label for="rating-5">5</label>
                            <input
                              type="radio"
                              id="rating-4"
                              name="rating"
                              formControlName="averageRating"
                              [value]="4"
                              (ionChange)="handleRadioChange($event)"
                            /><label for="rating-4">4</label>
                            <input
                              type="radio"
                              id="rating-3"
                              name="rating"
                              formControlName="averageRating"
                              [value]="3"
                              (ionChange)="handleRadioChange($event)"
                            /><label for="rating-3">3</label>
                            <input
                              type="radio"
                              id="rating-2"
                              name="rating"
                              formControlName="averageRating"
                              [value]="2"
                              (ionChange)="handleRadioChange($event)"
                            /><label for="rating-2">2</label>
                            <input
                              type="radio"
                              id="rating-1"
                              name="rating"
                              formControlName="averageRating"
                              [value]="1"
                              (ionChange)="handleRadioChange($event)"
                            /><label for="rating-1">1</label>
                            <input
                              type="radio"
                              id="rating-0"
                              name="rating"
                              formControlName="averageRating"
                              [value]="0"
                              class="star-cb-clear"
                            /><label for="rating-0">0</label>
                          </span>
                        </fieldset>
                      </div>
                      <ion-label
                        *ngIf="form?.get('averageRating')?.touched && form?.get('averageRating')?.hasError('required')"
                      >
                        Obligatorio poner puntuación.
                      </ion-label>
                    </div>
                    <div class="commentMessage">
                      <div>
                        <ion-label class="comment-text">
                          Escribe tu opinión:
                        </ion-label>
                        <ion-textarea
                          class="comment-textarea"
                          formControlName="commentMessage"
                        ></ion-textarea>
                      </div>
                      <ion-label
                        *ngIf="form?.get('commentMessage')?.touched && form?.get('commentMessage')?.hasError('required')"
                      >
                        Mensaje obligatorio.
                      </ion-label>
                    </div>
                    <ion-button
                      class="submit"
                      size="block"
                      [disabled]="!form.valid"
                      (click)="acceptCreateValuation()"
                    >
                      Enviar
                    </ion-button>
                    <ion-button
                      class="cancel"
                      size="block"
                      (click)="openCloseCreateValuation()"
                    >
                      Cancelar
                    </ion-button>
                  </ion-card-content>
                </form>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-card-content>

    <div *ngIf="hasValuationsPlacePermissions">
      <app-valuations [placeId]="placeId"></app-valuations>
    </div>
  </ion-card>
</ion-content>

<ion-content *ngIf="showNoData">
  <ion-img src="../../../assets/error.jpg" alt="Dog error image"></ion-img>
</ion-content>

<ion-content *ngIf="showSkeleton">
  <ion-card class="container mx-auto alert alert-light">
    <ion-skeleton-text
      class="skeleton-image col-4 hydrated"
      animated
    ></ion-skeleton-text>

    <ion-card-header>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
    </ion-card-header>

    <ion-card-content>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>
