<ion-header>
  <div class="row">
    <div class="col-2">
      <ion-icon
        class="icon"
        name="arrow-back-outline"
        onclick="window.history.back()"
      ></ion-icon>
    </div>
    <div class="col-10">
      <span class="text">Información</span>
    </div>
  </div>
</ion-header>

<ion-content *ngIf="data && !showSkeleton && !showNoData">
  <ion-card class="alert alert-light" *ngIf="data">
    <div class="buttons" *ngIf="showUpdateStatusButton">
      <ion-button (click)="accept()">Aceptar</ion-button>
      <ion-button (click)="decline()">Declinar</ion-button>
    </div>
    <div class="card-image">
      <ion-img
        *ngIf="data.placeImages"
        [src]="data.placeImages[0].src"
        [alt]="'Image from ' + data.name"
      ></ion-img>
      <ion-img
        *ngIf="!data.placeImages"
        src="../../../assets/imagenotfound.jpg"
        [attr.alt]="'Image from ' + data.name"
      ></ion-img>
    </div>
    <ion-card-header>
      <div class="row">
        <div class="col-10">
          <div class="title">{{ data.name }}</div>
        </div>
        <div class="col-2 heart-icon" *ngIf="isLoggedIn">
          <ion-icon
            name="heart-outline"
            color="danger"
            *ngIf="!data.favorite"
            (click)="handleClickFavoritePlace()"
          ></ion-icon>
          <ion-icon
            name="heart"
            color="danger"
            *ngIf="data.favorite"
            (click)="handleClickFavoritePlace()"
          ></ion-icon>
        </div>
      </div>
      <div class="type">{{ data.type | translateType }}</div>
      <div class="number" *ngIf="data.averageRating">
        {{ data.averageRating | starRating }}
        <span class="number-weight">({{data.averageRating }})</span>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="mb-3">
        <ion-icon name="pin-outline"></ion-icon>
        <span> {{ data.address }}, {{ data.zip }}, {{ data.town }}</span>
      </div>
      <div class="mb-3" *ngIf="data.website">
        <ion-icon name="globe-outline"></ion-icon>
        <span
          ><a class="link" [href]="data.website" target="_blank">
            {{ data.website }}</a
          ></span
        >
      </div>
      <div class="mb-3" *ngIf="data.phone">
        <ion-icon name="call-outline"></ion-icon>
        <a class="link" [href]="sanitizeTelLink(data.phone)">
          <span>{{ data.phone }}</span>
        </a>
      </div>
      <div class="mb-3" *ngIf="data.description">
        <ion-icon name="reorder-four-outline"></ion-icon>
        <span> {{ data.description }}</span>
      </div>
      <div class="tag-container">
        <div *ngFor="let tag of data.tags">
          <div class="tag">
            <ion-chip>{{ tag | translateTag }}</ion-chip>
          </div>
        </div>
      </div>
      <div>
        <ion-button
          *ngIf="!showButtonCreateCommit"
          class="commit-button"
          (click)="openCloseCreateValuation()"
        >
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>

    <ion-card-content *ngIf="showCreateCommit">
      <div>
        <span>Añadiendo valoración a {{ data.name }}</span>
      </div>
      <div class="flex-center">
        <form [formGroup]="form" (ngSubmit)="acceptCreateValuation()">
          <ion-card-content class="container">
            <div class="averageRating">
              <div class="valoration-fieldset">
                <div class="valoration-fieldset">
                  <fieldset class="valoration-fieldset" formControlName="averageRating">
                    <span class="star-cb-group">
                      <input type="radio" id="rating-5" name="rating" formControlName="averageRating" [value]="5" (ionChange)="handleRadioChange($event)"/><label for="rating-5">5</label>
                      <input type="radio" id="rating-4" name="rating" formControlName="averageRating" [value]="4" (ionChange)="handleRadioChange($event)"/><label for="rating-4">4</label>
                      <input type="radio" id="rating-3" name="rating" formControlName="averageRating" [value]="3" (ionChange)="handleRadioChange($event)"/><label for="rating-3">3</label>
                      <input type="radio" id="rating-2" name="rating" formControlName="averageRating" [value]="2" (ionChange)="handleRadioChange($event)"/><label for="rating-2">2</label>
                      <input type="radio" id="rating-1" name="rating" formControlName="averageRating" [value]="1" (ionChange)="handleRadioChange($event)"/><label for="rating-1">1</label>
                      <input type="radio" id="rating-0" name="rating" formControlName="averageRating" [value]="0" class="star-cb-clear" /><label for="rating-0">0</label>
                    </span>
                  </fieldset>
                </div>
              </div>
              <ion-label *ngIf="form.get('averageRating')?.touched && form.get('averageRating')?.hasError('required')">
                Obligatorio poner puntuación.
              </ion-label>
            </div>
            <div class="commentMessage">
              <ion-item>
                <ion-label>Mensaje:</ion-label>
                <ion-textarea formControlName="commentMessage"></ion-textarea>
              </ion-item>
              <ion-label *ngIf="form.get('commentMessage')?.touched && form.get('commentMessage')?.hasError('required')">
                Mensaje obligatorio.
              </ion-label>
            </div>
            <ion-button class="valuation-button" size="block" type="submit" [disabled]="!form.valid">
              Enviar
            </ion-button>
            <ion-button class="valuation-button" size="block" (click)="openCloseCreateValuation()">
              Cancelar
            </ion-button>
          </ion-card-content>
        </form>
      </div>
    </ion-card-content>

    <ion-card-content *ngIf="hasValuationsPlacePermissions">
      <app-valuations [placeId]="placeId"></app-valuations>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="showNoData">
  <ion-card class="alert alert-light">
    <h1 class="text-center">No hay coincidencias</h1>
    <div class="dog-image">
      <ion-img src="../../../assets/sadDog.jpg" alt="Sad dog image"></ion-img>
    </div>
  </ion-card>
</ion-content>

<ion-content *ngIf="showSkeleton">
  <ion-card class="container mx-auto alert alert-light">
    <ion-skeleton-text
      class="skeleton-image col-4 hydrated"
      animated
    ></ion-skeleton-text>

    <ion-card-header>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
    </ion-card-header>

    <ion-card-content>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
      <ion-skeleton-text class="text-skeleton" animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>
