// Header
ion-header {
    height: 6.5vh;
}

.icon {
    font-size: 1.5rem;
    margin-left: 1.2rem;
    margin-top: 0.6rem;
}

.text {
    font-size: 1.5rem;
    margin-top: 0.9rem;
}

// Image
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-image ion-img {
    max-width: 100%;
    max-height: 100%;
}

// Title
.title {
    font-size: 1.2em;
    font-weight: bold;
}

.heart-icon {
    position: absolute;
    right: 10px;
    color: red;
    font-size: 1.5em;
    cursor: pointer;
}

// Subtitle
.type {
    margin-top: 5px;
    font-size: 1em;
}

.number {
    margin-top: 5px;
    font-size: 1.2em;
    color: #737373;
}

.number-weight {
    font-size: 0.7rem;
    margin-left: 0.2rem;
}

// Data
.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.link{
    color: #737373;
    text-decoration: none;
}

// Skeleton
.skeleton-image {
    width: 20rem;
    height: 20rem;
}

.text-skeleton {
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.dog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25%;
}

// Stars
.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 200px;
    display: flex;
    /* the hidden clearer */
}

.star-cb-group * {
    font-size: 1rem;
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 2em;
    white-space: nowrap;
    cursor: pointer;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
    font-size: 30px;
}

.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #ae7e52;
    text-shadow: 0 0 1px #333;
    font-size: 30px;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}

.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
    font-size: 30px;
}

.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #ae7e52;
    text-shadow: 0 0 1px #333;
    font-size: 30px;
}

.valoration-fieldset {
    border: 0;
    width: 5em;
    border-radius: 1px;
    padding: 1em 1.5em 0.9em;
    margin: 1em auto;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

.valoration-rate {
    display: flex;
    height: 100px;
}

.valoration-title {
    width: 25%;
    padding: 0%;
    height: 100px;
}

.valoration-fieldset {
    width: 60%;
    height: 100px;
    margin: 0px;
    padding: 0%;
}

.valoration {
    padding: 0%;
}