.header {
  padding: 1.75rem 0rem;
}

.buttons {
 display: flex;
 justify-content: center;
}

.accept {
  color: seagreen;
  font-weight: bold;
}

.decline {
  color: rgb(205, 15, 15);
  font-weight: bold;
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  .place-card-wrapper {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 49% 49%;
  }

  .place-card {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .place-card-wrapper {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 32% 32% 32%;
  }

  .place-card {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
  }
}