<ion-card *ngIf="!showNoMatches && !hasPermissions" class="alert alert-light">
  <h1 class="text-center">No tienes permisos para acceder a esta página.</h1>
  <button routerLink="/index">Clica aquí para ir a inicio</button>
  <div class="dog-image">
    <ion-img src="../../../assets/sadDog.jpg" alt="Sad dog image"></ion-img>
  </div>
</ion-card>

<ion-header *ngIf="hasPermissions">
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content *ngIf="hasPermissions">
  <div class="place-card-wrapper container mx-auto">
    <ng-container *ngFor="let item of totalData">
      <app-place-card
        [placeId]="item.id"
        [showCard]="true"
        [canBeClosed]="false"
        class="place-card container mx-auto"
      ></app-place-card>
    </ng-container>
  </div>

  <ion-button *ngIf="isNotEmptySelectedList()" (click)="accept()"
    >Aceptar</ion-button
  >
  <ion-button *ngIf="isNotEmptySelectedList()" (click)="decline()"
    >Declinar</ion-button
  >

  <div *ngIf="!showNoMatches && totalData.length === 0" class="image">
    <ion-img
      src="../../../assets/not-pending.jpg"
      alt="Not pendig places image"
    ></ion-img>
  </div>

  <div class="place-card-wrapper container mx-auto" *ngIf="showNoMatches">
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
    <br />
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
    <app-place-card-skeletor class="place-card container mx-auto"></app-place-card-skeletor>
  </div>
</ion-content>
