<ion-card class="valuations-list">
  <ion-label class="valuations-title" *ngIf="valuationsList.length > 0">
    Comentarios:
  </ion-label>
  <div class="content-container" *ngFor="let valuation of valuationsList">
    <hr class="divider" />
    <div class="userName">{{ valuation.userName }}</div>
    <div class="rating" *ngIf="valuation.averageRating">
      {{ valuation.averageRating | starRating }}
      <span class="number-weight">({{ valuation.averageRating }})</span>
    </div>
    <div class="comment">{{ valuation.commentMessage }}</div>
  </div>
</ion-card>
