<ion-header>
  <div class="header">
    <app-header></app-header>
  </div>
</ion-header>

<ion-content>
  <div class="flex-center container mx-auto">
    <ion-card>
      <ion-card-header>
        <div class="title">Filtros de búsqueda</div>
      </ion-card-header>
      <ion-card-content>
        <div class="search">
          <ion-input
            type="text"
            placeholder="Buscar"
            class="form-control searchbar-input"
            [(ngModel)]="searchName"
          ></ion-input>
        </div>
        <ion-list class="kind-places" (ionChange)="onSelectionChange()">
          <ion-label position="floating">Tipo de lugar:</ion-label>
          <div class="select-button">
            <ion-button class="selectAll-button" (click)="selectAll()">Seleccionar todos</ion-button>
            <ion-button class="unselectAll-button" (click)="deselectAll()">Deseleccionar todos</ion-button>
          </div>
          <div class="ion-item-columns">
            <ion-item *ngFor="let option of options;" lines="none">
              <ion-checkbox [(ngModel)]="option.selected">
                {{ option.name | translateType }}
              </ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>
      <ion-button class="search-button" expand="full" (click)="filterSearch()"
        >Buscar</ion-button
      >
    </ion-card>
  </div>
</ion-content>
